@import "~pretty-checkbox/src/pretty-checkbox.scss";
.pretty {
  display: block;
  margin-top: 8px;
}
.lockcheckbox {
  background-color: #18c7e1;
}

.pretty p-default p-round p-thick {
  background-color: #18c7e1;
  color: #18c7e1;
}
.pretty p-default p-round p-thick {
  color: #18c7e1;
  background-color: #18c7e1;
}
