.logotext {
  margin-top: 10px;
}
.relative {
  position: absolute;
  width: 55%;
  margin-top: 210px;
}
.logo {
  margin-right: 5px;
}
Button {
  margin: 5px;
}
img {
  margin: 8px;
}
.edit {
  margin-bottom: 0%;
  display: inline-flex;
}
.Label {
  margin: 20px;
  font-weight: 350;
  width: 150px;
}
.checkboxterms {
  margin: 25px;
}

.Buttonforgreen {
  padding: 15px;
}
.lock {
  padding-right: 5 px;
}
span {
  margin: 12px;
}

.buttonforlabelcv {
  margin: 20px;
  border-radius: 8px;
}

button {
  margin: 5px;
}
.labelcv {
  color: #18c7e1;
}
.buttonForCancleNewSection {
  padding: 5px;
  margin: 5px;
  justify-content: space-between;
}
.buttonForSaveNewSection {
  padding: 5px;
  margin: 5px;
  width: auto;
  min-width: 55px;
  justify-content: space-between;
}

.error {
  color: red;
  float: right;
}
